body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: lightgreen;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center;
}

.title {
  text-align: center;
}

ol, li, .numberOfCrimes, .text {
  background-color: #282828; 
  color: white;
  border-radius: 5px;
}

ol, li {
  list-style-type: none;
}

li:before {
  content: '\26A0';
  margin-left: -20px;
  margin-right: 10px;
  }

.numberOfCrimes, .text {
  padding: 10px; 
}

.search-button,
.dropdown {
  background-color: #272727;
  color: whitesmoke;
  padding: 16px;
  cursor: pointer;
  border: 1px solid black;
  font-size: 1em;
  margin-top: 10px;
  border-radius: 5px; 
}

.search-field {
  font-size: 1em;
  border-radius: 5px;
  height: 50px;
}

.input-container {
  font-size: 900;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

label {
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (min-width: 900px) {
  body {
    font-size: 1.7rem;
  }
  .result-container {
    width: 700px;
  }
}
